//背景色
$bg-grey:#F2F2F4;
$bg-white:#FFFFFF;
$bg-primary:#FE0655;
$bg-default:#FFFFFF;;

//按钮色
$btn-primary:#FE0655;
$btn-default:#FFFFFF;
$btn-disabled:#C0C0C0;
$btn-golden:#FDE728;
$btn-green:#5DA904;

//文字颜色
$text-white:#FFFFFF;
$text-grey:#C0C0C0;
$text-primary:#FE0655;
$text-default:#3C3C3C;

//边框颜色
$bd-primary:#FE0655;
$bd-grey:#ebebeb;
$bd-default:$text-default